.git
.github
.agents
.gemini
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
!.env.example
tests
docker
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
